* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0 auto;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav__item:last-child {
  margin-left: 72px;
}
.nav__menu {
  min-height: 73px;
  display: flex;
  align-items: center;
  padding: 0 16px 0 18px;
}
.nav__list {
  width: 1200px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.nav__link {
  text-decoration: none;
  color: black;
}
.nav__link:hover {
  border-bottom: 2px solid #000000;
  transition-delay: 0, 6s;
}
.nav__active {
  border-bottom: 2px solid #000000;
}
.nav__number:hover {
  color: #069281;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.page__intro {
  margin: 0 auto;
}
.page__cover {
  width: 100%;
  height: 200px;
}
.page__intro img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.page__heading:last-child {
  font-size: 15px;
}
.page__h1 {
  letter-spacing: 1px;
  margin: 0 0 7px 0;
}

.page__heading,
.medical__heading {
  height: 130px;
  text-align: center;
  padding: 30px 0 25px 0;
  font-style: italic;
}

.intro {
  min-height: 711px;
  margin: 0 auto;
  box-sizing: border-box;
}

.slider {
  margin: auto;
  position: relative;
}
.slider__item {
  max-height: 450px;
}

.slider .slider__item img {
  object-fit: cover;
  width: 100%;
  height: 450px;
}

.previous, .next {
  position: absolute;
  height: 50px;
  top: 47%;
  border-radius: 50px;
}

.previous {
  left: 10px;
}

.next {
  right: 10px;
}

.slider .previous:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider-dots {
  text-align: center;
  margin-top: -25px;
}
.slider-dots_item {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #fff;
  opacity: 60%;
  border-radius: 50%;
  display: inline-block;
}

.active,
.slider-dots_item:hover {
  opacity: 100%;
}

.feature {
  display: flex;
  justify-content: space-around;
  min-height: 250px;
  padding: 3vw 0vw 4vw 0vw;
}
.feature__item {
  display: flex;
  align-items: center;
  color: #737373;
}
.feature__item:first-child {
  max-width: 275px;
  line-height: 25px;
  font-weight: 500;
  font-size: 21px;
}
.feature__text {
  max-width: 190px;
  font-size: 14px;
  align-item: center;
  overflow: hidden;
}
.feature__img {
  max-height: 35px;
  max-width: 35px;
  margin-right: 16px;
}

#last_text {
  padding-top: 3px;
}

.main__head {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-style: italic;
}
.main__h1 {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 6px 0;
}
.main__grid {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 60px;
  justify-content: center;
  padding: 50px 10px 32px 10px;
}

.main__block,
.tours__block,
.specials__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
}

.grid__block {
  max-width: 350px;
  min-height: 340px;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.19);
  font-size: 14px;
}
.grid__block img {
  object-fit: cover;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  height: 200px;
}
.grid__review {
  display: flex;
  flex-direction: column;
  min-height: 138px;
  max-width: 350px;
  padding: 4px 9px 0px 13px;
}
.grid__review-top {
  display: flex;
  justify-content: space-between;
  max-width: 520px;
  padding-top: 12px;
}
.grid__review-top > div {
  display: flex;
}
.grid__review h4 {
  max-width: 100%;
  margin: 0 0 7px 0;
  font-size: 17px;
  font-weight: 500;
}
.grid__review p {
  max-width: 309px;
  margin-bottom: 8px;
}
.grid__element {
  width: 100%;
  align-self: flex-end;
}
.grid__element-down {
  display: flex;
  justify-content: space-between;
}
.grid__element-down a {
  align-self: center;
}
.grid__element-down > div {
  align-self: flex-start;
}
.grid__element-down div {
  font-size: 18px;
  font-weight: 500;
  padding: 7px 3px;
}
.grid__element div {
  display: flex;
}
.grid__count {
  margin-left: 8px;
}
.grid__button {
  min-height: 37px;
  max-width: 138px;
  border: 1px solid #000000;
  border-radius: 32px;
  text-align: center;
  font-size: 12px;
  padding: 11px 33px;
}
.grid__button:hover {
  background-color: black;
  color: white;
}

.grid__review-top img,
.grid__element img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

h4 {
  min-height: 19px;
  overflow: hidden;
  margin: 0;
}

#more {
  min-width: 171px;
  padding: 12px 10px;
}

.feedback {
  min-height: 770px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.feedback p {
  font-style: italic;
  font-size: 15px;
  text-align: center;
}
.feedback p__h1 {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #50494962;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.modal__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.19);
  border-radius: 90px;
  color: #000;
  max-width: 650px;
  min-height: 630px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.modal__img {
  width: 650px;
  max-height: 250px;
  border-radius: 90px 90px 0px 0px;
}
.modal__text {
  max-width: 600px;
  max-height: 235px;
  padding: 0 0;
  overflow: hidden;
}
.modal__head {
  max-width: 600px;
}
.modal__head h1 {
  font-size: 23px;
  font-weight: normal;
  margin: 10px 15px;
}
.modal__rate {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}
.modal__rate > img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}
.modal__rate .modal__price {
  justify-self: flex-end;
}
.modal__close {
  position: absolute;
  bottom: 20px;
  right: 38%;
  height: 37px;
  width: 138px;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
  font-size: 12px;
  padding: 13px 0;
}
.modal__close:hover {
  background-color: #000;
  color: #fff;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal.open .modal__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

#slider-top {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tours__types {
  display: flex;
  width: 1200px;
  justify-content: space-around;
}
.tours__type:nth-child(1) {
  padding-left: 60px;
}
.tours__type:nth-child(3) {
  padding-left: 60px;
}
.tours__type > img {
  height: 35px;
  width: 35px;
  border-radius: 30px;
  margin-left: auto;
}
.tours__type:hover {
  background-color: #006BB9;
  color: white;
}
.tours__grid {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-gap: 36px 110px;
  justify-content: center;
  padding: 36px 10px 188px 10px;
}
.tours__down {
  display: flex;
  justify-content: flex-start;
}
.tours__down > a {
  padding: 14px 33px;
}
.tours__down > div {
  padding-top: 14px;
  margin-right: 81px;
}
.tours__button {
  min-width: 180px;
}
.tours__block {
  min-height: 375px;
  padding-bottom: 10px;
}
.tours__block > img {
  height: 215px;
}
.tours__element > p {
  min-height: 50px;
  width: 500px;
}
.tours__review {
  padding: 6px 20px 13px 15px;
}
.tours__block, .tours__review, .tours__element, .tours__element p {
  max-width: 520px;
}

.tours__type,
.credit__item-head {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 217px;
  min-height: 46px;
  padding: 0 25px;
  border: 1px solid #006BB9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
  border-radius: 70px 0px;
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
}

.crouise__h1 {
  height: 95px;
}
.crouise__container {
  display: flex;
  justify-content: center;
  padding-bottom: 27px;
}
.crouise__type {
  padding-left: 55px;
}
.crouise__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
  height: 173px;
  padding: 28px 89px 28px 89px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.11);
  border-radius: 30px;
}
.crouise__text {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.medical__content {
  padding-bottom: 137px;
}
.medical__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.medical__section {
  max-width: 700px;
}
.medical__section-2 {
  max-width: 378px;
  padding-top: 16px;
}
.medical__block, .medical__block-2 {
  min-height: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 41px 40px 52px 40px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.11);
  border-radius: 30px;
}
.medical__block-2 {
  justify-content: space-between;
  padding-right: 55px;
}
.medical__info p {
  text-indent: 1%;
  font-size: 20px;
  font-style: italic;
  text-align: justify;
  margin-bottom: 20px;
}
.medical__block-2 p {
  margin-bottom: 9px;
}
.medical__img {
  width: 100%;
  max-height: 260px;
  padding: 41px 0 72px 0;
}
.medical__img img {
  object-fit: cover;
  width: 100%;
  max-height: 260px;
}
.medical__heading {
  height: 100%;
  padding-bottom: 0px;
  margin-top: 13px;
  font-size: 30px;
}
.medical__head-2, .medical__follow {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 27px;
}
.medical__follow {
  font-size: 21px;
  font-weight: bolder;
  margin-top: 36px;
}
.medical__link {
  background: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 32px;
  color: white;
  font-style: italic;
  font-size: 19px;
  padding: 19px 61px;
}

.specials__container {
  padding: 18px 0 205px 0;
}
.specials__block {
  width: 100%;
  min-height: 290px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 10px;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 50px;
}
.specials__block > div {
  min-height: 270px;
  width: 100%;
}
.specials__block h4 {
  margin: 15px 0 15px 0;
  font-weight: 600;
  font-size: 17px;
}
.specials__img {
  max-height: 270px;
  max-width: 405px;
  margin-right: 17px;
}
.specials__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.credit__container {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  grid-gap: 2%;
  justify-content: center;
  padding: 28px 0 172px 0;
}
.credit__item {
  padding-bottom: 67px;
}
.credit__item-head {
  margin-bottom: 27px;
}
.credit__right > img {
  object-fit: cover;
  width: 100%;
  height: 260px;
  margin-bottom: 80px;
}
.credit__item > div {
  width: fit-content;
  font-size: 23px;
  color: #006BB9;
  justify-content: flex-start;
  padding: 5px 42px;
}

.credit p {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
}

.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.footer__block {
  min-height: 150px;
  display: flex;
  padding: 32px 0 0 10px;
  border-top: 1px solid #737373;
}
.footer__heading {
  color: #686868;
  margin-bottom: 10px;
}
.footer__list {
  margin-bottom: 12px;
}
.footer__link:hover {
  border-bottom: 1px solid #000;
  transition-delay: 0, 6s;
}
.footer__ph {
  text-align: end;
  line-height: 15px;
}
.footer__item:first-child {
  min-width: 155px;
  padding-top: 16px;
}
.footer__item:nth-child(2) {
  min-width: 191px;
  padding-top: 18px;
}
.footer__item:nth-child(3) {
  min-width: 224px;
  margin-top: 12px;
}
.footer__item:nth-child(4) {
  min-width: 182px;
  padding-top: 4px;
}
.footer__item:nth-child(5) {
  min-width: 122px;
  text-align: center;
  line-height: 10px;
  margin-top: 12px;
}
.footer__item:nth-child(6) {
  min-width: 315px;
  margin-top: 12px;
}
.footer__mail:hover, .footer__number:hover {
  color: #069281;
}

.social {
  margin-right: 9px;
}

#rights {
  color: #686868;
  font-size: 13px;
  align-self: flex-end;
  margin-top: 23px;
}

/*# sourceMappingURL=style.css.map */
