.medical

    &__content
        padding-bottom: 137px

    &__container
        display: flex
        flex-direction: column
        align-items: center

    &__section
        max-width: 700px

    &__section-2
        max-width: 378px
        padding-top: 16px

    &__block,
    &__block-2
        min-height: 260px
        width: 100%
        display: flex
        justify-content: center
        align-content: center
        padding: 41px 40px 52px 40px
        background: #FFFFFF
        border: 1px solid rgba(0, 0, 0, 0.04)
        box-sizing: border-box
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.11)
        border-radius: 30px

    &__block-2
        justify-content: space-between
        padding-right: 55px

    &__info p
        text-indent: 1%
        font-size: 20px
        font-style: italic
        text-align: justify
        margin-bottom: 20px

    &__block-2 p
        margin-bottom: 9px

    &__img
        width: 100%
        max-height: 260px
        padding: 41px 0 72px 0

    &__img img
        object-fit: cover
        width: 100%
        max-height: 260px

    &__heading
        height: 100%
        padding-bottom: 0px
        margin-top: 13px
        font-size: 30px

    &__head-2,
    &__follow
        text-align: center
        font-style: italic
        font-size: 15px
        margin-bottom: 27px

    &__follow
        font-size: 21px
        font-weight: bolder
        margin-top: 36px

    &__link
        background: #000000
        border: 1px solid #000000
        box-sizing: border-box
        border-radius: 32px
        color: white
        font-style: italic
        font-size: 19px
        padding: 19px 61px
