.tours

    &__types
        display: flex
        width: 1200px
        justify-content: space-around

    &__type:nth-child(1)
        padding-left: 60px

    &__type:nth-child(3)
        padding-left: 60px

    &__type > img
        height: 35px
        width: 35px
        border-radius: 30px
        margin-left: auto

    &__type:hover
        background-color: #006BB9
        color: white

    &__grid
        display: grid
        grid-template-columns: repeat(2, 45%)
        grid-gap: 50px 110px
        justify-content: center
        padding: 40px 10px 212px 10px

    &__block
        min-height: 375px
        padding-bottom: 10px

    &__block > img
        height: 215px

    &__block,
    &__review,
    &__element,
    &__element p
        max-width: 520px

.tours__type,
.credit__item-head
    display: flex
    justify-content: center
    align-items: center
    min-width: 217px
    min-height: 46px
    padding: 0 25px
    border: 1px solid #006BB9
    box-sizing: border-box
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18)
    border-radius: 70px 0px
    font-style: italic
    font-weight: 700
    font-size: 15px
